@{
    ViewBag.Title = Default.Resources.Home;
}

<div class="row">
    <div class="col-md-12">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="chart" data-chart-title="Line" data-chart-legends="true" data-chart-type="line" data-chart-src="@Url.Action("Line", "Home", new { Area = "" })"></div>
    </div>
    <div class="col-md-3">
        <div class="chart" data-chart-title="Pie" data-chart-legends="true" data-chart-type="pie" data-chart-src="@Url.Action("Pie", "Home", new { Area = "" })"></div>
    </div>
    <div class="col-md-3">
        <div class="chart" data-chart-title="Bar" data-chart-legends="true" data-chart-type="bar" data-chart-src="@Url.Action("Bar", "Home", new { Area = "" })"></div>
    </div>
    <div class="col-md-3">
        <div class="chart" data-chart-title="Radar" data-chart-legends="true" data-chart-type="radar" data-chart-src="@Url.Action("Radar", "Home", new { Area = "" })"></div>
    </div>
    <div class="col-md-6">
        <div class="chart" data-chart-title="PolarArea" data-chart-legends="true" data-chart-type="polararea" data-chart-src="@Url.Action("PolarArea", "Home", new { Area = "" })"></div>
    </div>
    <div class="col-md-6">
        <div class="chart" data-chart-title="Doughnut" data-chart-legends="true" data-chart-type="doughnut" data-chart-src="@Url.Action("Doughnut", "Home", new { Area = "" })"></div>
    </div>
</div>


@Scripts.Render("~/bundles/Charts")
<script>
    $(function () {
        $(".chart").each(function () {
            var _chart = $(this);

            $(this).MobyDickChart({
                title: $(_chart).data("chart-title"),
                type: $(_chart).data("chart-type"),
                legends: $(_chart).data("chart-legends"),
                src: $(_chart).data("chart-src")
            });

        });
    });

</script>