@model Presentation.MVC.Models.CheckpointEditModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = MBAdministration.Checkpoints.Resources.CheckpointAdministration;
    ViewBag.SubTitle = MBAdministration.Checkpoints.Resources.EditCheckpoint;
}

<div class="col-xs-12 panel-search">
    <div class="row">
        <div class="col-md-12 panel-header">
            <h1>@ViewBag.Title</h1>
            <h4>@ViewBag.SubTitle</h4>
        </div>
    </div>

    <form action="@Url.Action("Edit", "Checkpoints", new { Area = "Administration"})" method="post" data-async="submit" data-async-target="@Url.Action("List", "Checkpoints", new { Area = "Administration" })">
        @Html.HiddenFor(m => m.IdCheckpoint)

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Code)
                    @Html.TextBoxFor(m => m.Code)
                    @Html.ValidationMessageFor(m => m.Code)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextBoxFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.IPService)
                    @Html.TextBoxFor(m => m.IPService)
                    @Html.ValidationMessageFor(m => m.IPService)
                </div>
            </div>
        </div>

        <div class="panel-button">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.ActionButtonBack("List", "Checkpoints")
                        @Html.ActionButtonSave()
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>